<html>

<head>
  <title>Compartir Código</title>
  <meta content="">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/style.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />

  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>


<style>
    .alert {
      margin-bottom: 1px;
      height: 30px;
      line-height:30px;
      padding:0px 15px;
    }
    </style>
    


</head>

<body>


  <div class="container">
    <br>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-dark" role="alert">
          <button class="close" data-dismiss="alert">&times;</button>
        <small>{{ message }}</small> 
      </div>
      {% endfor %}
    {% endif %}
    <br>


    <a href="/" class="card-text btn btn-info btn-sm"> <i class="fa fa-plus-circle"></i> Crear</a>
    <a href="/editar/{{c.url}}" class="card-text btn btn-info btn-sm"> <i class="fa fa-wrench"></i> Editar</a>

    <button type="button" class="card-text btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-trash"></i> Eliminar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirme eliminación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Desea eliminar el contenido?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"> <i class="fa fa-ban"></i>
              Cancelar</button>
            <a href="/eliminar/{{c.url}}" class="card-text btn btn-danger btn-sm"> <i class="fa fa-trash"></i>
              Confirmar</a>
          </div>
        </div>
      </div>
    </div>





    <br>
    <br>
    <div class="card-deck text-left">
      <div class="card">
        <div class="card-header">
          <h4>{{c.nombre}}</h4>
          <p id="enlace"> <small> http://paste.sirvaseusted.es/{{c.url}} </small></p>
        </div>
        <p class="card-text">
          <small class="text-muted">
            <button class="card-text btn btn-secondary btn-sm" onclick="copyToClipboard('#enlace')"><i
                class="fa fa-link"></i>
              <small> Copiar Enlace: {{c.url}}</small>
            </button>
          </small>
          <small class="text-muted">
            <button class="card-text btn btn-primary btn-sm" onclick="copyToClipboard('#codigo')"><i
                class="fa fa-copy"></i>
              <small> Copiar Código</small>
            </button>
          </small>
        </p>

        <div class="card-body" id="codigo">
          {{c.codigo|safe}}
        </div>
        <br>
        <br>
        <br>
        <p class="card-text"><small class="text-muted">Insertado/Editado hace {{c.fecha|timesince}}.</small></p>
        <p class="card-text"><small class="text-muted">
          
          {% if c.expiracion.tiempo == 0 %}
            Nunca expira.
          {%else%}
            Expira en {{c.expiracion|lower}}.
          {% endif %}
            
          
        </small></p>

      </div>
    </div>
  </div>


<br>
<br>


</body>

</html>